<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="businessObjects">
      <sectionGroup name="crystalReports">
        <section name="rptBuildProvider" type="CrystalDecisions.Shared.RptBuildProviderHandler, CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304, Custom=null" />
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--Ambiente 1 Producion y != 1 es Pruebas-->
    <add key="Ambiente" value="0" />
    <add key="Idioma" value="ES-CO" />
    <add key="pageSize" value="20" />
    <add key="EmptyQuery" value="Su consulta no obtuvo ningun resultado." />
    <add key="SemanasDelMes" value="4" />
    <add key="FormatoFecha" value="dd/MM/yyyy" />
    <add key="FormatoFechaBase" value="dd/MM/yyyy" />
    <add key="Ciudad" value="11001" />
    <add key="CargarCiudad" value="false" />
    <add key="MostrarPDF" value="true" />
    <add key="ddlusuarios" value="1" />
    <add key="ControlarCompCaja" value="0" />
    <add key="EdadMinima" value="22" />
    <add key="EdadMaxima" value="70" />
    <add key="ValidarTasaReestructuracion" value="1" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="ManejoUsuarios" value="0" />
    <add key="periodoPresup" value="0" />
    <add key="causaPresup" value="0" />
    <add key="menuRetractil" value="0" />
    <add key="correoExcepciones" value="expinnSoporte@gmail.com" />
    <add key="claveCorreoExcepciones" value="Expinn2016" />
    <add key="CorreoServidor" value="info@cooperativaavp.com" />
    <add key="claveCorreo" value="Expadm2018" />
    <add key="Hosting" value="smtp.gmail.com" />
    <add key="Puerto" value="587" />
    <add key="rblTipoCredito" value="0" />
    <add key="usuarioCifin" value="gtia7xzweqlpf0aHQVahyA==" />
    <add key="claveCifin" value="HkJutg/Fn1faSiVY0gqA2w==" />
    <add key="usuarioWorkManagement" value="sodimac" />
    <add key="tokenWorkManagement" value="Ux0zLTITj8+MXGEhnnoQ4vgmB6iKJ2Qs" />
    <!-- POR DEFECTO CONSUMO-->
    <add key="ddlFormaPago" value="2" />
    <!-- FORMA DE PAGO POR DEFECTO EN NOMINA-->
    <add key="FormaAplicacionRecaudos" value="1" />
    <!--<add key="Modulo" value="3"/>-->
    <!--Imprime por .RLDC si tiene valor "1" en caso de tener otro valor imprime por la antigua factura en HTML-->
    <add key="impresionValidadoraPorRDLC" value="2" />
    <!--Valor de tipo de informacion adicional de la tabla de tipo para saber cual es el codigo guardado de WM-->
    <add key="CodigoTipoInformacionAdicionalWorkManagement" value="102" />
    <!--1 para auditar cada ejecucion de un SP, 0 para no hacerlo-->
    <add key="SeAuditaLaEjecucionDeLosSP" value="1" />
    <!-- Ruta de directorio virtual usado por el site -->
    <add key="RutaDirectorioVirtualDefault" value="/Backups/" />
    <!-- Script default para ejecutar en servidor -->
    <!-- IMPORTANTE A LOS SCRIPTS QUE SE VAYAN A EJECUTAR AGREGARLE EL " | Out-String" PARA PODER MOSTRARLO EN LA OPCION -->
    <add key="ScriptParaEjecutar" value="Get-Service | Out-String" />
    <add key="xpinnWsEnpacto.wsListarMovimientosEnpacto" value="http://192.175.105.36/Cootregua/Page/TarjetaDebito/wsListarMovimientosEnpacto.asmx" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=XPNFINANCIAL)));User Id=FONCALDAS;Password=123456;" providerName="System.Data.OracleClient" />-->
    <!--Testing-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=financialsoftware.com.co)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=xpnfinancial)));User Id=xpinnadm;Password=TaysOLPB;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=expinnserver)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=expinn)));User Id=xpinnadm;Password=12345;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=TESTINGSERVER)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=CONTROLQA)));User Id=XPINNADM;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=coopchipaque;Password=123456;" providerName="System.Data.OracleClient" />-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=TESTINGSERVER)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=coopmulc)));User Id=xpinnadm;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=TESTINGSERVER)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=coopfinancia)));User Id=xpinnadm;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=TESTINGSERVER)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=coopecol;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=fecem;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=fondesarrollo;Password=123456;" providerName="System.Data.OracleClient" />-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=cooaceded;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=TESTINGSERVER)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=Coompau;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=testingserver)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=icesi;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=cootraemcali;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.6)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=cooperativaavp;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=financialsoftware.com.co)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=xpinnadm;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.6)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=cootregua;Password=123456;" providerName="System.Data.OracleClient"/>
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.6)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=feassec;Password=123456;" providerName="System.Data.OracleClient" />-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=cootraemcali;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=fonsodi;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=ctemcali;Password=123456;" providerName="System.Data.OracleClient" />-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.6)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=Fondesarrollo;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=fonsodi;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=200.119.47.29)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=foncaldas;Password=123456;" providerName="System.Data.OracleClient" />-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=fonmass;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=cooaceded;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=Cooeducord;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.122.156)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=financia)));User Id=demo;Password=ExpAdm2018**;" providerName="System.Data.OracleClient"/>-->
    <!--Super Reales-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.114.197)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=FINANCIA)));User Id=XPINNADM;Password=ExpAdm2018**;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.10.177)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=FONSODI)));User Id=XPINNADM;Password=CcxtQEMU;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=172.16.20.3)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=COACEDED)));User Id=xpinnadm;Password=xpinnadm;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.122.156)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=financia)));User Id=COOPERATIVAAVP;Password=ExpAdm2018**;" providerName="System.Data.OracleClient" />-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.122.156)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=financia)));User Id=COOPECOL;Password=ExpAdm2018**;" providerName="System.Data.OracleClient" />-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.122.156)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=financia)));User Id=DEMO;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=financialsoftware.com.co)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=FINANCIAL)));User Id=EXPINN;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.211)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=CTEMCALI)));User Id=xpinnadm;Password=Lingalit;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.203.111)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=Financia_iad1b2.subnet.vcn.oraclevcn.com)));User Id=FECEM;Password=ExpAdm2018**;" providerName="System.Data.OracleClient" />-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=financialsoftware.com.co)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=COOPECOL;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=150.136.242.105)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(sid=financia)));User Id=COOTREGUA;Password=ExpAdm2018**;" providerName="System.Data.OracleClient" />-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=150.136.242.105)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=financia)));User Id=ICESI;Password=ExpAdm2018**;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.175.105.36)(PORT=1521)))(CONNECT_DATA=(SERVER=DE)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=financia)));User Id=FODEOCCI;Password=ExpAdm2018**;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.10.177)(PORT=1DICATED)(SERVICE_NAME=financial)));User Id=FONDECOLP;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.175.105.36)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=PROCARIBE;Password=RAVIv8B5;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=132.145.163.150)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=financia)));User Id=FODEOCCI;Password=ExpAdm2018**;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.10.177)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=fonsodi)));User Id=XPINNADM;Password=Expadm2018;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.175.101.106)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=COOPCHIPAQUE)));User Id=XPINNADM;Password=g0TlHsOA;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.203.111)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=Financia_iad1b2.subnet.vcn.oraclevcn.com)));User Id=FONDESARROLLO;Password=ExpAdm2018**;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.150.109.132)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=financia)));User Id=CODISHOGAR;Password=tosodeyU;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.150.109.132)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=financia)));User Id=FONMASS;Password=tosodeyU;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=financialsoftware.com.co)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=EXPINN;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=srv6.financialsoftware.com.co)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=xpinnadm;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(CONNECT_TIMEOUT=5)(TRANSPORT_CONNECT_TIMEOUT=3)(RETRY_COUNT=3)(ADDRESS_LIST=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.203.235)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=Financia_iad1fz.subred5.vcn.oraclevcn.com)));User Id=FONCALDAS;Password=ExpAdm2018**;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.150.196.87)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=financia)));User Id=CREDIPROGRESO;Password=Unistran;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.203.235)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=financia)));User Id=COOEDUCORD;Password=Lickelat9;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.203.235)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=FINANCIA)));User Id=COONADOC;Password=ExpAdm2018**;" providerName="System.Data.OracleClient"/>-->
    <add name="InterfazNomina" connectionString="data source=EXPINN-TEC-1;initial catalog=Nomina;Integrated Security=true;" providerName="System.Data.SqlClient" />
    <add name="Inventarios" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=Inventarios;Password=123456;" providerName="System.Data.OracleClient" />
  </connectionStrings>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="6000" />
    <globalization culture="es-CO" uiCulture="es" requestEncoding="utf-8" responseEncoding="utf-8" />
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
      <add verb="GET" path="FtbWebResource.axd" type="FreeTextBoxControls.AssemblyResourceHandler, FreeTextBox" />
      <add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral,PublicKeyToken=b03f5f7f11d50a3a" />
    </httpHandlers>
    <compilation debug="true" optimizeCompilations="true" targetFramework="4.0">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="PresentationCore, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <remove assembly="Microsoft.VisualStudio.Web.PageInspector.Loader, Version=1.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="Microsoft.Web.Services2, Version=2.0.3.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Management.Automation, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Microsoft.Office.Interop.Excel, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="Microsoft.ReportViewer.Common, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
        <add assembly="Microsoft.Office.Interop.Word, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C" />
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
      </assemblies>
    </compilation>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <customErrors mode="Off" />
    <pages validateRequest="false">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
        
      <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" /></controls>
    </pages>
    <httpModules>
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </httpModules>
    <httpRuntime maxRequestLength="1638400" requestValidationMode="2.0" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
      <add name="WCP" verb="*" path="wcp.axd" type="Neodynamic.SDK.Web.WebClientPrint, Neodynamic.SDK.WebClientPrint" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IWorkManagerServices" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.10.177:83/WorkManagerService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IWorkManagerServices" contract="IWorkManagerServices" name="BasicHttpBinding_IWorkManagerServices" />
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">       
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Transformer.NET" publicKeyToken="e274d618e7c603a7" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0" newVersion="2.1.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <!--<businessObjects>
    <crystalReports>
      <rptBuildProvider>
        <add embedRptInResource="true"/>
      </rptBuildProvider>
    </crystalReports>
  </businessObjects>-->
</configuration>