<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections />
  <appSettings>
    <add key="FormatoFecha" value="dd/MM/yyyy" />
    <add key="FormatoFechaBase" value="dd/MM/yyyy" />
    <!-- ENVIO DE NOTIFICACION -->
    <add key="NameCompany" value="Cootregua" />
    <add key="SendEmailCompany" value="comunicacionescootregua@gmail.com" />
    <add key="SendNotification" value="1" />
    <add key="URLWebServices" value="http://srv1.financialsoftware.com.co/WebServicesFecem" />
    <add key="CorreoServidor" value="comunicacionescootregua@gmail.com" />
    <add key="Clave" value="1$m$6$x)(2" />
    <add key="Hosting" value="smtp.gmail.com" />
    <add key="Puerto" value="587" />
    <!-- CODIGO DE USUARIO PARA PROCESO DE GRABACION DE CREDITO Y SERVICIOS -->
    <add key="CodUsuario" value="0" />
    <!-- INDICA LA FECHA A PARTIR DE LA CUAL SE DEBE SOLICITAR ACTUALIZACION TOTAL DE DATOS -->
    <!--<add key="fecha_actualizacion" value="2019-08-13"/>-->
    <!--PARAMETRO PARA INDICAR USUARIOS EN CASO ESPECIAL COMO COOPCHIPAQUE QUE EL USUARIO NO ES IGUAL AL DEL WEB CONFIG-->
    <add key="usuarioDefault" value="XPINNOFFICE" />
  </appSettings>
  <connectionStrings>
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.4)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=financial)));User Id=FECEM;Password=123456;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.203.111)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=Financia_iad1b2.subnet.vcn.oraclevcn.com)));User Id=FECEM;Password=ExpAdm2018**;" providerName="System.Data.OracleClient" />-->
    <add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.203.235)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=Financia_iad1fz.subred5.vcn.oraclevcn.com)));User Id=FONCALDAS;Password=ExpAdm2018**;" providerName="System.Data.OracleClient" />
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.10.177)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=fonsodi)));User Id=XPINNOFFICE;Password=123456;" providerName="System.Data.OracleClient"/>-->
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <!--  ADICION DE ESTA SECCION PARA FONSODI SE OCULTA PORQUE AFECTA LA REFERENCIACION Y NO COJE LA CONVERSION DE ARRAY A LIST -->
    <!--<webServices>
        <protocols>
          <add name="HttpGet"/>
          <add name="HttpPost"/>
        </protocols>
      </webServices>-->
    <sessionState mode="InProc" cookieless="false" timeout="30" />
    <globalization culture="es-CO" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="Accessibility, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>
    <httpModules>
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </httpModules>
    <httpRuntime maxRequestLength="16384" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <remove name="ChartImageHandler" />
      <add name="DirectRequestHandler" verb="*" path="*/ext.axd" preCondition="integratedMode" type="Ext.Net.ResourceHandler" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Transformer.NET" publicKeyToken="e274d618e7c603a7" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.0" newVersion="2.1.1" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
    <bindings />
    <client />
  </system.serviceModel>
</configuration>