<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.web>
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </webServices>
  </system.web>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="WSPaymentSoap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://190.248.29.149:420/WebServices/WSPayment.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSPaymentSoap"
        contract="xpinnWSPayment.WSPaymentSoap" name="WSPaymentSoap" />
    </client>
  </system.serviceModel>
  <microsoft.web.services3>
    <security>
      <x509 allowTestRoot="true" revocationMode="NoCheck"/>
    </security>
    <diagnostics>
      <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo"/>
      <detailedErrors enabled="true"/>
    </diagnostics>
    <!-- PENDIENTE CONSULTA DE ESTE REFERENCIA DE CONFIG SI ES NECESARIO AGREGAR O NO-->
    <!--<policy fileName="wse3policyCache.config"/>-->
  </microsoft.web.services3>
</configuration>