<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <connectionStrings>
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(CONNECT_TIMEOUT=5)(TRANSPORT_CONNECT_TIMEOUT=3)(RETRY_COUNT=3)(ADDRESS_LIST=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=150.136.242.105)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=Financia_iad1zg.subnet.vcn.oraclevcn.com)));User Id=COOTREGUA;Password=ExpAdm2018**;" providerName="System.Data.OracleClient" />-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(CONNECT_TIMEOUT=5)(TRANSPORT_CONNECT_TIMEOUT=3)(RETRY_COUNT=3)(ADDRESS_LIST=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.122.156)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=Financia_iad1dz.sub09212017170.red1.oraclevcn.com)));User Id=COOPERATIVAAVP;Password=ExpAdm2018**;" providerName="System.Data.OracleClient" />-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=coopavp)));User Id=TARJETAD;Password=enpacto2018;" providerName="System.Data.OracleClient"/>-->
    <!--<add name="DataBase" connectionString="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=192.168.0.211)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=ctemcali)));User Id=XPINNADM;Password=Lingalit;" providerName="System.Data.OracleClient"/>-->    
    <add name="DataBase" connectionString="Data Source=(DESCRIPTION=(CONNECT_TIMEOUT=5)(TRANSPORT_CONNECT_TIMEOUT=3)(RETRY_COUNT=3)(ADDRESS_LIST=(LOAD_BALANCE=on)(ADDRESS=(PROTOCOL=TCP)(HOST=129.213.203.235)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=Financia_iad1fz.subred5.vcn.oraclevcn.com)));User Id=FONCALDAS;Password=ExpAdm2018**;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
</configuration>
