<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <appSettings>
    <!--SI LA ENTIDAD USA AFIANCOL-->
    <add key="afiancol" value="0" />
    <!--GENERAL-->
    <add key="pageSize" value="20" />
    <add key="EmptyQuery" value="Su consulta no obtuvo ningun resultado." />
    <add key="FormatoFecha" value="dd/MM/yyyy" />
    <add key="FormatoFechaBase" value="dd/MM/yyyy" />
    <add key="Periodicidad" value="1" />
    <add key="TipoLiquidacion" value="2" />
    <add key="ddlFormaPago" value="2" />
    <add key="MostrarPDF" value="true" />
    <add key="ManejaFormaPagos" value="1" />
    <add key="BloqueoCombos" value="1" />
    <add key="MedioDefault" value="1" />
    <add key="IncluirClubAhorradores" value="0" />
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;" />
    <add key="manejaDestinaciones" value="0" />
    <!--Indica si se debe usar o no cuotas extra-->
    <add key="cuotasExtra" value="0" />
    <!--Indica si se aprueban las solicitudes de credito automáticamente 1:SI 0:NO-->
    <add key="aprobarSoliCredito" value="0" />
    <!--beneficiarios en club de ahorradores-->
    <add key="AhorrosParaBeneficiarios" value="0" />
    <!-- REDIRECCIONAMIENTO EN CASO SE REQUIERA LA CERRAR SESION -->
    <!-- PARAMETROS DE CERTIFICADO -->
    <add key="Empresa" value="COOCHIPAQUE" />
    <add key="Representante" value=" " />
    <add key="IdentRepresentante" value=" " />
    <add key="TeleFooter" value="Tel: (1) 5368389 - 5353596" />
    <add key="EmailFooter" value="cooperativaavpwebcl@gmail.com" />
    <add key="WebPage" value="WWW.COOPERATIVAAVP.COM" />
    <!-- PARAMETROS DE ENVIO DE CORREO -->
    <add key="CorreoServidor" value="comunicaciones.expinn@gmail.com" />
    <add key="Clave" value="Expadm2018*" />
    <add key="Hosting" value="smtp.gmail.com" />
    <add key="Puerto" value="587" />
    <add key="URLProyecto" value="http://localhost:32192" />
    <!--<add key="URLProyecto" value="https://srv2.financialsoftware.com.co/OficinaVirtualCoopchipaque/" />-->
    <add key="TamañoMaximoArchivo" value="1048576" />
    <!-- PARAMETROS CALVE SIMETRICA -->
    <add key="usr" value="fecem" />
    <add key="key" value="123456" />
    <add key="tipoPSE" value="1" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <globalization culture="es-CO" uiCulture="es" requestEncoding="utf-8" responseEncoding="utf-8" />
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Runtime.Serialization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.ServiceModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Net.Http, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net.Http.WebRequest, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Net, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </buildProviders>
    </compilation>
    <httpHandlers>
      <add path="CaptchaImage.axd" verb="GET" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpModules>
      <add name="Session" type="System.Web.SessionState.SessionStateModule" />
    </httpModules>
    <webServices>
      <soapExtensionImporterTypes>
        <add type="Microsoft.Web.Services3.Description.WseExtensionImporter, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </soapExtensionImporterTypes>
      <soapServerProtocolFactory type="Microsoft.Web.Services3.WseProtocolFactory, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </webServices>
    <customErrors mode="Off" />
    
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Origin, X-Requested-With, Content-Type, Accept" />
      </customHeaders>
    </httpProtocol>
    <modules runAllManagedModulesForAllRequests="true" />
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="MSCaptcha" verb="GET" path="CaptchaImage.axd" type="MSCaptcha.CaptchaImageHandler, MSCaptcha" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </handlers>
  </system.webServer>
  <location path="CaptchaImage.axd">
    <system.web>
      <authorization>
        <allow users="*" />
      </authorization>
      <httpRuntime maxRequestLength="16384000" requestValidationMode="2.0" executionTimeout="3000" />
    </system.web>
  </location>
  <system.serviceModel>   
    <bindings>
      <basicHttpBinding>
        <binding name="WSAppFinancialSoap" maxReceivedMessageSize="2147483647" />
        <binding name="WSCreditoSoap" maxReceivedMessageSize="2147483647" />
        <binding name="WSDepositoSoap" maxReceivedMessageSize="2147483647" />
        <binding name="WSEstadoCuentaSoap" maxReceivedMessageSize="2147483647" />
        <binding name="WSIcetexSoap" maxReceivedMessageSize="2147483647" />
        <binding name="WSintegracionSoap" maxReceivedMessageSize="2147483647" />
        <binding name="WSloginSoap" maxReceivedMessageSize="2147483647" />
        <binding name="WSPaymentSoap" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http:localhostWSAppFinancial.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSAppFinancialSoap"
        contract="xpinnWSAppFinancial.WSAppFinancialSoap" name="WSAppFinancialSoap" />
      <endpoint address="http:localhostWSCredito.asmx" binding="basicHttpBinding"
        bindingConfiguration="WSCreditoSoap" contract="xpinnWSCredito.WSCreditoSoap"
        name="WSCreditoSoap" />
      <endpoint address="http:localhostWSDeposito.asmx" binding="basicHttpBinding"
        bindingConfiguration="WSDepositoSoap" contract="xpinnWSDeposito.WSDepositoSoap"
        name="WSDepositoSoap" />
      <endpoint address="http:localhostWSEstadoCuenta.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSEstadoCuentaSoap"
        contract="xpinnWSEstadoCuenta.WSEstadoCuentaSoap" name="WSEstadoCuentaSoap" />
      <endpoint address="http://localhost:11083/WSIcetex.asmx" binding="basicHttpBinding"
        bindingConfiguration="WSIcetexSoap" contract="xpinnWSIcetex.WSIcetexSoap"
        name="WSIcetexSoap" />
      <endpoint address="http://localhost:11083/WSintegracion.asmx"
        binding="basicHttpBinding" bindingConfiguration="WSintegracionSoap"
        contract="xpinnWSIntegracion.WSintegracionSoap" name="WSintegracionSoap" />
      <endpoint address="http://localhost:11083/WSlogin.asmx" binding="basicHttpBinding"
        bindingConfiguration="WSloginSoap" contract="xpinnWSLogin.WSloginSoap"
        name="WSloginSoap" />
      <endpoint address="http://localhost:11083/WSPayment.asmx" binding="basicHttpBinding"
        bindingConfiguration="WSPaymentSoap" contract="xpinnWSPayment.WSPaymentSoap"
        name="WSPaymentSoap" />
    </client>
  </system.serviceModel>
  <microsoft.web.services3>
    <security>
      <x509 allowTestRoot="true" revocationMode="NoCheck" />
    </security>
    <diagnostics>
      <trace enabled="false" input="InputTrace.webinfo" output="OutputTrace.webinfo" />
      <detailedErrors enabled="true" />
    </diagnostics>
    <!-- PENDIENTE CONSULTA DE ESTE REFERENCIA DE CONFIG SI ES NECESARIO AGREGAR O NO-->
    <!--<policy fileName="wse3policyCache.config"/>-->
  </microsoft.web.services3>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DocumentFormat.OpenXml" publicKeyToken="8fb06cb64d019a17" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.10.0.0" newVersion="2.10.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="ExcelNumberFormat" publicKeyToken="23c6f5d73be07eca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.7.0" newVersion="1.0.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.net>
    <defaultProxy useDefaultCredentials="true" />
  </system.net>
</configuration>